<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ImanTariq.i190440">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment"
        tools:targetApi="31">
        <activity
            android:name="com.ImanTariq.i190440.page23"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page22"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page21"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page20"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page19"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page18"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page17"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page16"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page15"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page14"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page13"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page12"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page11"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page10"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page9"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page8"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.pag7"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page6"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page5"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page4"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page3"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.page2"
            android:exported="false" />
        <activity
            android:name="com.ImanTariq.i190440.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>